<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @event.message %>
</p>

<p>
  <strong>Hostname:</strong>
  <%= @event.hostname %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @event.timestamp %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @event.organization.name %>
</p>

<%= link_to 'Home', root_path %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
